@model Open.Logic.ProductClasses.ProductEditModel
@{
    ViewBag.Title = "Add Book";
}
<h2>AddBook</h2>
@using (Html.BeginForm("AddBook", "Product", FormMethod.Post))
{

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>