
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    Add New
   @* @Html.ActionLink("Book", "AddBook") |*@
</p>

<table class="table">
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Gender)*@
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.UniqueId }) |
            @Html.ActionLink("Details", "Details", new { id = item.UniqueId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UniqueId })*@
        </td>
    </tr>
</table>
