@model Open.Logic.ProductClasses.ProductEditModel
@{
    ViewBag.Title = "Return a Book";
}
<h2>Return a Book</h2>
@using (Html.BeginForm("ReturnBook", "Product", FormMethod.Post))
{
    <h2>Return a book</h2>
}