@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>Contact</h1>
</div>
    <div class="col-lg-4">
        <h4>Products and Services</h4>
        <hr />
        <strong>The team:</strong>
        <p>Kristin Undrest</p>
        <p>Eliise Juhansoo</p>
        <p>Pille Riin Kuningas</p>
        <p>Sander-Sven Annula</p>
        <p>Erih-Valter Karasevitš</p>
        <hr />
        <strong>Supervisors:</strong>
        <p>Gunnar Piho</p>
        <p>Viljam Puusep</p>
        <hr />
        <strong>Contact information:</strong>
        <address>
            Tallinna University of Technology<br />
            Faculty of Information Technology<br />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:ProductsAndServices@example.com">ProductsAndServices@example.com</a><br />
        </address>
    </div>